/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

label {
    font-weight: bold;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


/*media smartphone Portrait orientation*/
@media (max-width: 576px) {
    #logoImg {
        margin-left: 15px !important;
    }

    #smallFooter li {
        display: block !important;
        text-align: center;
        padding: 0;
        margin: 0;
    }

        #smallFooter li span {
            margin-left: 0 !important;
        }

    .verticalList {
        margin-bottom: 20px !important;
        text-align: center;
    }


    #iconsList {
        text-align: center !important;
    }

        #iconsList li a i {
            font-size: 15px !important;
        }

    #btnLogIn {
        margin: 10px;
    }

    #dashBoard {
        margin: 15px 0px 15px 10px;
    }

        #dashBoard a span {
            display: inline !important;
            color: white;
        }
}
/*media ends*/




#logoImg {
    height: 35px;
    margin-left: 50px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}


.nav-item a {
    display: block;
    padding: 10px 15px;
}

    .nav-item a:hover {
        background-color: #513979;
    }


a:hover {
    text-decoration: none;
}

.nav-item a,
.verticalList ul li a,
#smallFooter li a,
#iconsList li a {
    font-size: 14px;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

    .nav-item a:hover,
    .verticalList ul li a:hover,
    #smallFooter li a:hover,
    #iconsList li a:hover {
        color: white;
        text-decoration: none;
    }


h6 {
    color: white;
}

.colorPrimary {
    background-color: #250858;
}

.colorSecondary {
    background-color: #532380;
}

.colorThird {
    background-color: #A400B4;
}

.colorGray {
    background-color: #f2f2f2;
}


#quiz {
    background-color: #a400b4;
}

    #quiz a {
        display: block;
        padding: 5px 0;
        text-align: center;
    }

        #quiz a span {
            font-weight: bold;
            color: white;
            font-size: 12px;
        }



div#feedBack {
    position: fixed;
    right: -40px;
    top: 50%;
    background-color: #532380;
    color: white;
    border-radius: 5px;
    padding: 2px 15px;
    transform: rotate(-90deg);
    z-index: 1;
}

    div#feedBack:hover {
        cursor: pointer;
    }


#smallFooter, #iconsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #smallFooter li, #iconsList li {
        display: inline;
        margin: 0 15px;
    }

        #smallFooter li:last-child {
            margin-top: 15px !important;
        }


.verticalList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .verticalList ul li {
        display: block;
        margin: 0;
        padding: 0;
    }

/*contact.aspx*/
h3, h4 {
    color: #532380;
    font-weight: bold;
    margin: 30px 0;
}


#grayBox {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*news.aspx*/
.latestStories img {
    margin-bottom: 10px;
    width: 100%
}

.latestStories div a {
    font-weight: bold;
    color: #A400B4;
    font-size: 14px;
}

    .latestStories div a p {
        font-size: 20px;
        color: black;
        margin-bottom: 0;
    }

    .latestStories div a:hover, div a p:hover {
        color: #004B83;
    }

    .latestStories div a small {
        color: gray;
    }


.horizMenu a {
    display: inline-block;
    margin-right: 15px;
    color: black;
    padding: 10px;
}

    .horizMenu a:hover {
        background-color: #E8E8E8;
    }

    .horizMenu a:last-child {
        margin-right: 0;
    }

/*Research page*/
#searchResearch input[type="submit"] {
    background-color: #a400b4;
    border-color: #a400b4;
    color: white;
    font-weight: bold;
}

    #searchResearch input[type="submit"]:hover {
        background-color: #9400D3;
    }





.carRow div a div img {
    display: block;
    width: 100%;
}

.carRow div a p {
    text-align: center;
}

.carRow div a:hover img {
    width: 105%;
}


.grayToolBox div {
    
    
}

    .grayToolBox div a {
        display: block;
        text-align: center;
        background-color: #f2f2f2;
    }

        .grayToolBox div a p {
            color: black;
            margin: 15px 0;
        }

        .grayToolBox div a img {
            display: block;
            width: 75px;
            margin: auto;
            padding-top: 15px;
        }

.grayToolBox div a span {
    display: block;
    padding-bottom: 15px;
}

.blackTitle {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.blackTitle2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/*sell.aspx*/
.notLogedIn {
    padding: 15px 0;
    text-align: center;
    background-color: #f2f2f2
}

.niceButton {
    color: #9400d3;
    border-color: #9400d3;
    padding: 5px 25px;
}

.niceButton:hover {
    color: white;
    border-color: #9400d3;
    background-color: #9400d3;
}

.carAdvice {
    background-color: #f2f2f2;
    padding: 25px 0;
}

.carAdvice img{
    display: block;
    width: 100%;
}

.carAdvice span {
    color: white;
    display: block;
    padding: 0 5px;
    margin-top: -50px;
}

/*advanced_search.aspx*/
.greenButton {
    padding: 5px 25px;
    width: 100%;
    height: 100%;
    background-color: #aed622;
    border-color: #aed622;
}

    .greenButton:hover {
        background-color: #a2c71f;
        border-color: #a2c71f;
    }


.borderRad-0 {
    border-radius: 0;
}


/*shopping.aspx*/


.navTab a.nav-link {
    color: white;
    border-radius: 0;
    border-color: white;
    
}
.navTab a.nav-link:hover {
    background-color: white;
    color: black;
}

.list {
    padding-left: 0;
    list-style-type: none;
}

.list li {
    margin-top: 10px;
    
}