/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



section {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}*/


/*media smartphone Portrait orientation*/
@media (max-width: 576px) {

    .carItem {
        padding: 10px 35px !important;
    }







    li.nav-item.navTab {
        width: 50%;
        text-align: center;
    }

    #advSearch {
        position: absolute;
        bottom: 5%;
        right: 10%;
        
    }
    #myTabContent {
        padding-bottom: 30px;
    }
    /*.sellMenu {
        margin-top: 50px !important;
    }
    

        .sellMenu .customCard {
            width: 100%;
            text-align: left;
        }

            .sellMenu .customCard .card-img-top {
                display: inline-block;
                width: 25%;
            }

            .sellMenu .customCard .card-body {
                display: inline-block;
                padding: 0;
                width: 70%;
            }*/
    .listCenter div ul {
        text-align: center;
        margin-bottom: 0;
    }

    .carMake ul li {
        width: 50%;
    }

    .carRow div.col-lg-3 {
        width: 50%;
        text-align: center;
    }


    .blackBox {
        position: absolute;
        right: 0%;
        top: 0%;
        margin-top: -100px
    }

    .grayToolBox div {
        width: 60%;
        margin: 15px auto;
    }


    .menuItemsBigScreen {
        display: none !important;
    }

    .menuItemsSmallScreen {
        display: block !important;
    }


    #logoImg {
        margin-left: 15px !important;
    }

    .bigImage {
        height: 250px !important;
        background-size: auto !important;
    }



    #smallFooter li {
        display: block !important;
        text-align: center;
        padding: 0;
        margin: 0;
    }

        #smallFooter li span {
            margin-left: 0 !important;
        }

    .verticalList {
        margin-bottom: 20px !important;
        text-align: center;
    }


    #iconsList {
        text-align: center !important;
    }

        #iconsList li a i {
            font-size: 15px !important;
        }

    #btnLogIn {
        margin: 10px;
    }

    #logInButton a:first-of-type {
        display: none;
    }

    #logInButton a:last-of-type {
        display: block !important;
    }

    #dashBoard {
    }

        #dashBoard i {
            display: none;
        }

        #dashBoard a span {
            display: inline !important;
            color: white;
        }




    .divOnImage {
        margin-top: 0px !important;
    }

    .textOnImage h2 {
        font-size: 18px;
    }

    .textOnImage h3 {
        font-size: 15px;
    }


    #copyright {
        text-align: center !important;
    }

    .listCollapse h6 {
        padding-bottom: 25px;
        border-bottom-color: white;
        border-bottom: solid;
        border-bottom-width: 1px;
    }




    .listCollapse div:first-of-type {
        display: none;
    }


    div#searchResearch {
        margin-top: 15px !important;
    }

    .repairBlock {
        margin-top: -150px !important;
    }

        .repairBlock .repairList {
            margin-top: 50px !important;
        }
}



/*media ends*/

div.checkboxList td input[type="checkbox"],
div.asp_checkbox input[type="checkbox"] {
    transform: scale(1.5);
}
div.checkboxList td label,
div.asp_checkbox label {
    margin-left: 10px;
}

a.underlinedLink {
    color: #767676;
    font-weight: bold;
    padding: 3px 15px;
}

    a.underlinedLink:hover {
        color: black;
        border-bottom: 4px solid #A400B4;
    }
    a.underlinedLink.activ {
        color: black;
        border-bottom: 4px solid #A400B4;
    }





.repairBlock {
    margin-top: -220px;
}


.listRepairs div ul {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}

.listRepairs div ul li a {
    display: block;
    padding: 5px 15px 5px 10px;
    border-radius: 5px;
}

.listRepairs div ul li:nth-child(odd) {
    background-color: #f2f2f2;
}

.listRepairs div ul li a span:first-of-type {
    padding-left: 10px;
}
.listRepairs div ul li a span:last-of-type {
    position: absolute;
    right: 50px;
}

    




.carMake ul {
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0;
}
.carMake ul li {
    padding: 10px 40px;
}



.cardWithImage:hover h5 {
    color: #004b83;
}


.onHover:hover {
    color: #004b83 !important;
}

.playVideoButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .playVideoButton:hover {
        background-color: rgba(107, 0, 153, 0.5);
    }

    .playVideoButton .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 25px;
        border-color: transparent transparent transparent white;
    }

.whiteLink {
    color: white;
    font-size: 13px;
}

    .whiteLink:hover {
        color: white;
        text-decoration: underline;
    }


#logoImg {
    height: 35px;
    margin-left: 20px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}


.nav-item a {
    display: block;
    padding: 15px 15px;
}

    .nav-item a:hover {
        background-color: #513979;
    }


a:hover {
    text-decoration: none;
}

.nav-item a,
.verticalList ul li a,
#smallFooter li a,
#iconsList li a {
    font-size: 14px;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

    .nav-item a:hover,
    .verticalList ul li a:hover,
    #smallFooter li a:hover,
    #iconsList li a:hover {
        color: white;
        text-decoration: none;
    }


.verticalAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.gray {
    color: #767676;
}

.primary {
    color: #250858;
}

.secondary {
    color: #532380;
}

.third {
    color: #A400B4;
}

.colorPrimary {
    background-color: #250858;
}

.colorSecondary {
    background-color: #532380;
}

.colorThird {
    background-color: #A400B4;
}

.colorGray {
    background-color: #f2f2f2;
}

.colorGray_2 {
    background-color: #e1e1e1;
}

.white {
    color: white;
}

.btnSignIn {
    height: 40px;
}

#quiz {
    background-color: #a400b4;
}

    #quiz a {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        /*padding: 3px 0 6px 0;
        text-align: center;*/
    }

        #quiz a span {
            color: white;
            font-size: 12px;
        }

    #quiz span.badge {
        border-radius: 0;
        font-size: 10px;
        padding: 4px 4px;
        margin-right: 5px;
        font-weight: normal;
    }



div#feedBack {
    position: fixed;
    right: -40px;
    top: 50%;
    background-color: #532380;
    color: white;
    border-radius: 5px;
    padding: 2px 15px;
    transform: rotate(-90deg);
    z-index: 1;
}

    div#feedBack:hover {
        cursor: pointer;
    }


#smallFooter, #iconsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #smallFooter li, #iconsList li {
        display: inline;
        margin: 0 15px;
    }




.verticalList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .verticalList ul li {
        display: block;
        margin: 0;
        padding: 0;
    }

/*contact.aspx*/





/*news.aspx*/



.latestStories img {
    margin-bottom: 10px;
    width: 100%
}

.latestStories div a {
    font-weight: bold;
    color: #A400B4;
    font-size: 14px;
}

    .latestStories div a p {
        font-size: 20px;
        color: black;
        margin-bottom: 0;
    }

    .latestStories div a:hover {
        color: #004B83;
    }

    .latestStories div a small {
        color: gray;
    }


.horizMenu a {
    display: inline-block;
    margin-right: 15px;
    color: black;
    padding: 10px;
}

    .horizMenu a:hover {
        background-color: #E8E8E8;
    }

    .horizMenu a:last-child {
        margin-right: 0;
    }

/*Research page*/
#searchResearch input[type="submit"] {
    background-color: #a400b4;
    border-color: #a400b4;
    color: white;
    font-weight: bold;
}

    #searchResearch input[type="submit"]:hover {
        background-color: #9400D3;
    }





.carRow div a div img {
    display: block;
    width: 100%;
}

.carRow div a p {
    text-align: center;
}

.carRow div a:hover img {
    transform: scale(1.05);
}


.grayToolBox div {
}

    .grayToolBox div a {
        display: block;
        text-align: center;
        background-color: #f2f2f2;
    }

        .grayToolBox div a p {
            color: black;
            margin: 15px 0;
            padding: 0 25px;
        }

        .grayToolBox div a img {
            display: block;
            width: 75px;
            margin: auto;
            padding-top: 15px;
        }

        .grayToolBox div a span {
            display: block;
            padding-bottom: 15px;
            font-size: small;
        }

.blackTitle {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.blackTitle2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/*sell.aspx*/

.customCard {
    border: none;
    background-color: transparent;
}

.textOnImage {
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
}

.textOnImageRight {
    color: white;
    right: 50px;
    position: absolute;
    text-align: right;
    width: 400px;
    top: 150px;
}

.bigImage {
    height: 450px;
    background-position-x: center;
    background-position-y: center;
}

.divOnImage {
    margin-top: -150px;
}



.niceButton {
    color: #9400d3;
    border-color: #9400d3;
    padding: 5px 25px;
}

    .niceButton:hover {
        color: white;
        border-color: #9400d3;
        background-color: #9400d3;
    }

.niceButton2 {
    color: white;
    background-color: #9400d3;
}

    .niceButton2:hover {
        color: white;
        background-color: #6b0099;
        border-color: #6b0099;
    }

.carAdvice {
    
    padding: 25px 0;
}

    .carAdvice img {
        display: block;
        width: 100%;
    }

    .carAdvice span {
        color: white;
        display: block;
        padding: 0 5px;
        margin-top: -50px;
    }

a.circleIcon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

    a.circleIcon i {
        color: white;
        font-size: 40px;
        margin-top: 25px;
    }

        a.circleIcon i:hover {
            color: white;
        }
















/*advanced_search.aspx*/
.greenButton {
    padding: 5px 25px;
    width: 100%;
    height: 100%;
    background-color: #aed622;
    border-color: #aed622;
}

    .greenButton:hover {
        background-color: #a2c71f;
        border-color: #a2c71f;
    }


.borderRad-0 {
    border-radius: 0;
}


/*shopping.aspx*/


.blackBoxOnImage div{
    color: white;
    font-size: 14px;
}

.blackBoxOnImage #sponsored {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
}

.blackBoxOnImage:hover span{
    text-decoration: underline;
}

.navTab a.nav-link {
    color: white;
    border-radius: 0;
    border-color: white;
}

    .navTab a.nav-link:hover {
        background-color: white;
        color: black;
    }

.list {
    padding-left: 0;
    list-style-type: none;
}

    .list li {
        margin-top: 10px;
    }

.white-outline-button {
    border-radius: 0;
    border-color: white;
    color: white;
    font-size: 14px;
    padding: 10px 30px;
    width: 100%;
}

    .white-outline-button:hover {
        background-color: #666;
        border-color: white;
    }
